# Question: 1
In the below elements which of them are values or an expression? 
eg:- values can be integer or string and expressions will be mathematical operators.
i ) *
ii) 'hello'
iii) -87.8
iv) -
v) /
vi) +
vii) 6

# Answer 1

Expression : * / + -

Values: 'hello' -87.8 6

# Question: 2
What is the difference between string and variable?

# Answer : 2
String :  Collection of alphanumeric character's is termed as String. Exanmple : 'Jatin', "Fine8work", '23', "13.989"

Variable : Entities that are used in a programs, in order to hold certain value for computing purpose. 
           Example : a = 34
                     z = a*2
                     z = 68      a, z are variable

In [3]:
a = 34
z = a * 2

In [4]:
z

68

# Question: 3

Describe three different data types.

# Answer: 3
## i) Numeric 

       The numeric data type are used to store the numerical values.
       a) int ----> 2, 287
       b) float ----> 12.43, 13.90877
       c) complex -----> 2+3j, 5j
       
       
## ii) Sequence

       The squence data type store elements in a squential manner.
       a) list ----> [2,3,"Jatin",34.76]
       b) tuple ----> (2,3,"Jatin",34.76)
       
       
## iii) Mapping

        The mapping data type is used to map value/value's against a key.
        i) dictionary ----> r = {'a': 23, 'z': 62} , fre = {'i' : [0,4,7,9,14]}

# Question : 4

 What is an expression made up of? What do all expressions do?

# Answer: 4

Expression : It is the combination of both variable's or constant's combined using various mathematical operator like (+,-,/,*,% etc..)

In [20]:
2 * 3 + 45

51

In [7]:
a = 34
b = a * 2
c = a + b**2 + 100
c

4758

# Question: 5
This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

# Answer: 5

Statement : These are non-compiled part of program, generally developer's in order to make code meaningful add it, so that other  can understand.

In [9]:
# This is single line statement in python.

In [12]:
"""
I am currently working on 

multi-line comment in python.

"""
print("Hello")

Hello

Expression : It is a notation, genrally used to express something. Under program it act as a pillar in performing, large computation's.

In [17]:
spam = 10
spam = spam**2
spam

100

# Question: 6

After running the following code, what does the variable bacon contain?
    bacon = 22
    bacon + 1

# Answer: 6

In [19]:
bacon = 22
bacon + 1
bacon

22

# Question: 7
What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; * 3

# Answer: 7

In [26]:
'spam' + 'spamspam'

'spamspamspam'

In [25]:
'spam'*3

'spamspamspam'

# Question : 8

Why is eggs a valid variable name while 100 is invalid?

# Answer : 8

Variable name should not start with digit.
Hence, egg is variable and 100 is not a variable.

# Question: 9

What three functions can be used to get the integer, floating-point number, or string
version of a value?

# Answer: 9

The three function are:
i) integer --> int()
ii) floating number ---> float()
iii) string ----> str()

# Question: 10

Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos'

# Answer:10
The reason is we can't concatenate string with integer, in python.

In [29]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

## Fix: 1
    Convert integer to string and then concatenate.

In [33]:
a = str(99)
'I have eaten ' + a + ' burritos'

'I have eaten 99 burritos'

## Fix: 2

In [42]:
a = 99
'I have eaten {} burritos'.format(a)

'I have eaten 99 burritos'